@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>All About the Guessing Game app...</h3>

<p>
    This app was developed as part of a class at a coding academy as an example of the MVC framework.
    We went through the basic framework in class and then it was later modified by the student.
    The code was revised so that constants were used for the range, so that the code only needs to be modified in one location.
    The high/low message functionality was also added, along with the corresponding colors.
    <br />
    <br />
    Click on the "Take a Guess" link to play along!

</p>
