@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guessing Game</h1>
    <p class="lead">Go ahead...take a guess.  Is your guess too high or too low?  This game will help you out so that everyone's a winner!</p>
</div>